<li class="chat-room-item">
  <div class="message-room">
    
    <div class="d-flex flex-row">
      <div class="avatar-area">
        <a href="/member/a8c-6207400e" data-discover="true">
          <img alt="avatar-36" class="avatar-36" src="https://firebasestorage.googleapis.com/v0/b/bcmhzt-b25e9.appspot.com/o/profiles%2F8t8dI3lWA7TrPZQR90hZkm5oLHl2%2F8t8dI3lWA7TrPZQR90hZkm5oLHl2_small.jpg?alt=media">
        </a>
      </div>
    <div class="nickname-area">
      バクムーツ管理人（local)
      <span class="bcuid"> @ a8c-6207400e</span>
    </div>
    <div class="tool-area" style="margin-left: auto;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" class="bi bi-three-dots-vertical" style="font-size: 20px; cursor: pointer; color: rgb(51, 51, 51);">
        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path>
    </svg>
    </div>
  </div>
    <div class="chat-preview">
      <span>Chromeは大丈夫 …</span>
    </div>
  </div>
</li>
