table.devauthenticate {
  // background: #ffd700;
  th, td {
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
  }
}