.index-menu {
  // background: #ffd700;
  list-style: none;
  margin-left: -23px;
  font-size: 18px;
  li {
    line-height: 40px;
    a:link, a:visited {
      color: #555;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}