.posts {
  .post-thread {
    margin-top: 15px;
    border-bottom: #888 1px dashed;
    .post-thread-header {
      
      .avatar-section {
        // background: #ffd700;
      }
      .nickname-section {
        margin-left: 5px;
        word-wrap: break-word;
        word-break: break-all;
        .nickname {
          font-size: 17px;
          color: #333;
          .bcuid {
            font-size: 10px;
            color: #888;
          }
        }
        .gender {
          font-size: 12px;
          color: #888;
        }
      }
    }
    .post-thread-body {
      p {
        word-wrap: break-word;
        word-break: break-all;
      }
      .date-link {
        font-size: 12px;
        color: #888;
        text-align: right;
      }
    }
    .post-thread-footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 5px 20px 20px 20px;

      // background: #ffd700;
    }
  }
}