// fee0bab9
.propensity-tags {
  h3 {
    .subtitle {
      font-size:13px;
      color: #888;
      margin-left: 10px;
      border:#c1c1c1 1px solid;
      padding: 2px 5px;
      border-radius: 3px;
      background: #e6e6e6;;
    }
  }
  .input-group {
    input::placeholder {
      color: #c1c1c1;
      font-size: 12px;
    }
  }
  .propensity-tags-area {
    .propensity-tags-word {
      display: inline-block;
      background: #f0f0f0;
      border: 1px solid #c1c1c1;
      color:#333;
      padding:  3px 10px;
      font-size: 14px;
      border-radius: 3px;
      margin-right: 15px;
      margin-bottom: 15px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
    .active {
      background: #4682b4;
      color: #fff;
      border: 1px solid #4682b4;
    }
  }
}

.display-only-your-propensity {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}