.referral-entries {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  border: #c1c1c1 dashed 1px;
  margin-bottom: 50px;
  img {
    width: 100%;
    height: auto;
  }
  .referral-entries-title {
    // background: #ffd700;
  }
  .small-comment {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .referral-entries-content {
    margin-top: 30px;
    margin-bottom: 10px;
    .form-switch {
      margin-bottom: 10px;
      .form-check-label {
        font-size: 17px;
        color: #000;
      }
      .form-check-input {
        width: 50px;
        height: 25px;
        margin-right: 10px;
        margin-top: 0px;
      }
      .form-check-input:checked + .form-check-label { color: #000; }
      .form-check-input:not(:checked) + .form-check-label { color: #c1c1c1; }
    }
    .share-content {
      // background: #ffd700;
    }
    .email-content {
      // background: #ffd700;
      input::placeholder {
        color: #c1c1c1;
      }

    }
  }
}